@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Rubik:wght@300&display=swap');
body{
    background-color: #EEF9F8;
    margin: 0;
    padding: 0;
    font-family: 'Oxygen';
}

#campaign{
    width: 90%;
    margin: 15px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#campaign .camp-cont{
    background-color: #8DBAB8;
    border-radius: 12px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#campaign .camp-cont h1{
    text-align: center;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 8px;
}


#campaign .camp-cont p{
    text-align: justify;
    font-style: normal;
    font-size: 15px;
}

#campaign .camp-text{
    display: grid;
    grid-template-columns: 75% auto;
    margin: 0px 30px;
}

#campaign img{
    width: 70%;
    margin: auto;
}

#campaign .btn{
    background: #2B7A78;
	display: block;
	width: 30%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 70px;
	cursor: pointer;
    margin: auto;
    font-family: 'Oxygen';
    transition: all 0.5s;
    position: relative;
	overflow: hidden;
   
}

#campaign .btn span:hover{
    color: #D6EAE8;
    transition: all 0.5s;
}

#campaign .btn span{
    color: #ffffff;
    text-decoration: none;
    position: relative;
	z-index: 2;
}

#campaign .fa-solid{
    padding: 0 5px;
}

#campaign .btn::after {
	content: "";
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: calc(-100% - 80px);
	border-bottom: 80px solid #215051;
	border-right: 80px solid transparent;
	transition: .4s ease-in-out all;
}

#campaign .btn:hover::after {
	left: 0;
}

#formulario-registro{
    background: red;
    border-radius: 12px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}